<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- some data of the robot that may be useful, taken from the project specification -->
  <param name="wheel_radius" type="double" value="0.1575"/>
  <param name="real_baseline" type="double" value="0.583"/>

  <param name="apparent_baseline_from_scout_odom" type="double" value="1.0348803417434809"/>
  <param name="gear_ratio_from_scout_odom" type="double" value="0.02616661880304867"/>

  <param name="apparent_baseline_from_gt_pose" type="double" value="1.0166236274601377"/>
  <param name="gear_ratio_from_gt_pose" type="double" value="0.02667141115720684"/>


  <!-- initial pose of the robot, taken from gt_pose of bag1 -->
  <!-- <param name="initial_pose_x" type="double" value="-0.8321421146392822"/> -->
  <!-- <param name="initial_pose_y" type="double" value="0.42636168003082275"/> -->
  <!-- <param name="initial_pose_theta" type="double" value="0.324720174074173"/> -->


  <!-- initial pose of the robot, taken from odom of bag1 -->
  <param name="initial_pose_x" type="double" value="0"/>
  <param name="initial_pose_y" type="double" value="0"/>
  <param name="initial_pose_theta" type="double" value="0"/>

  <!-- launch velocity estimator node -->
  <node pkg="robotics_hw1" type="velocity_estimator" name="velocity_estimator" args="gt_pose"/>



  <!-- node for parameters estimation -->
  <!-- <node pkg="robotics_hw1" type="parameters_calibrator" name="parameters_calibrator"/> -->


</launch>
